*{
    box-sizing: border-box;
    
}

.h-100 {
    background:linear-gradient(45deg, rgb(62, 136, 215), rgb(6, 16, 218));

}


#search-input {
    position: relative;
    vertical-align: top;

}

.searchBtn {
    position: relative;
    vertical-align: top;

}
